* {
  text-align: center;
  color: var(--white);
  box-sizing: border-box;
}

:root {
  --white: #fff;
}

body {
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: var(--white);
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#playtext {
  font-size: 50px;
  font-family: 'Monoton', cursive;
  margin: 5px;
  text-transform: uppercase;
}

#restartbtn {
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: transparent;
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
}

#restartbtn:hover {
  background-color: var(--white);
  color: #000;
}

.container {
  padding: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gameboard {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.box {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 150px;
  font-family: 'Comfortaa', cursive;
}
