* {
  text-align: center;
  color: #fff;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --blue: #39f;
  --red: #f00;
}

body {
  background-color: var(--blue);
  margin: 0;
  padding: 0;
  color: var(--white);
}

#playText {
  font-size: 50px;
  font-family: 'Monoton', cursive;
  margin: 5px;
  text-transform: uppercase;
}

#restartBtn {
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: transparent;
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
}

#restartBtn:hover {
  background-color: var(--white);
  color: #000;
}

.container {
  padding: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gameBoard {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.box {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 150px;
  font-family: 'Comfortaa', cursive;
}
